---
import PageLayout, {
  type Props as PageLayoutProps
} from '@/layouts/PageLayout.astro'
import PagefindPlugin from '@/plugins/PagefindPlugin.astro'
import PageFindSearch from 'astro-pagefind/components/Search'

const frontmatter: PageLayoutProps['frontmatter'] = {
  title: 'Search',
  activeHeaderLink: '/search'
}
---

<PageLayout {frontmatter}>
  <h1>{frontmatter.title}</h1>
  <PageFindSearch
    id="search"
    className="pagefind-ui"
    uiOptions={{ showImages: false }}
  />
  <h2 id="results-heading">Type to search</h2>
  <ul id="results-list" class="list-none p-0"></ul>

  <PagefindPlugin />
</PageLayout>
